.history-content {
  width: 70%;
  margin: 0 auto;
  text-align: left;
}

.history-paragraph {
  text-align: center;
  margin-top: 2em;
}

#photo-gallery {
  margin: 4em;
}

.gallery-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.gallery-slider img {
  max-height: 40em;
  margin: 0 auto;
  padding: 4em;
}

.slick-prev,
.slick-next {
  background-color: #474646;
  color: #ffffff;
  padding: 0.5em;
  border-radius: 1em;
  cursor: pointer;
}

