.job-opportunities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 2em 5em 2em;
}

.job {
  width: calc(33.33% - 4em);
  margin-right: 4em;
  background-color: #ebebeb;
  padding: 4em;
}

.job:last-child {
  margin-right: 0;
}

.job p {
  padding: 1em;

  margin-top: 1em;
}

.job a {
  display: inline-block;
  padding: 1em 2em;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  margin-top: 1em;
}

.job a:hover {
  background-color: #0056b3;
}

.entrepreneurs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
}

.entrepreneur {
  width: calc(20% - 4em);
  margin-right: 4em;
  background-color: #f9f9f9;
  padding: 3em 1em 1em 1em;
  margin-bottom: 5em;
}

.entrepreneur p {
  padding: 1em;
}

.entrepreneur img {
  max-width: 10em;
  margin-top: 1em;
}

.entrepreneur:last-child {
  margin-right: 0;
}

.navigation-buttons{
  margin-bottom: 5em;
}

/* Add these styles to your existing CSS */

#prev-btn, #next-btn {
  padding: 10px 20px;
  margin: 10px;
  background-color: #474646;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#prev-btn:hover, #next-btn:hover {
  background-color: #333333;
}

#prev-btn:focus, #next-btn:focus {
  outline: none;
}

#prev-btn, #next-btn {
  display: inline-block;
  font-size: 1em;
  border-radius: 5px;
}

#prev-btn:hover, #next-btn:hover {
  background-color: #007bff;
}
