.main-content {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5rem auto 0 auto;
}

.flex-container-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.community {
  margin-bottom: 1rem;
}

/* .community__go-back-button { */
/*   align-self: flex-start; */
/*   align-items: center; */
/*   background-color: #fff; */
/*   border-radius: 12px; */
/*   box-sizing: border-box; */
/*   color: #121212; */
/*   cursor: pointer; */
/*   display: inline-flex; */
/*   flex: 1 1 auto; */
/*   font-family: Inter, sans-serif; */
/*   font-size: 1.2rem; */
/*   font-weight: 700; */
/*   justify-content: center; */
/*   line-height: 1; */
/*   margin: 0.5rem 18rem; */
/*   outline: none; */
/*   padding: 1rem 1.2rem; */
/*   text-align: center; */
/*   text-decoration: none; */
/*   transition: */
/*     box-shadow 0.2s, */
/*     -webkit-box-shadow 0.2s; */
/*   white-space: nowrap; */
/*   border: 0; */
/*   user-select: none; */
/*   -webkit-user-select: none; */
/*   touch-action: manipulation; */
/* } */
/**/
/* .community__go-back-button:hover { */
/*   box-shadow: */
/*     #121212 0 0 0 3px, */
/*     transparent 0 0 0 0; */
/* } */
/**/
/* .community__go-back-button__container { */
/*   display: flex; */
/*   justify-content: center; */
/*   align-items: center; */
/* } */
/**/
/* .community__go-back-button__container__icon { */
/*   position: relative; */
/*   height: 0.8em; */
/*   margin-right: 10px; */
/*   top: -2px; */
/* } */

.community__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.staff-photo {
  height: 20rem;
}

.community__container__left {
  flex: 1;
  flex-basis: 20%;
  gap: 1rem;
  padding: 2rem;
  font-size: 1.25rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-right: solid gray 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 42rem;
}

.community__container__right {
  flex: 1;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 42rem;
}

.community__container__right__heading {
  margin: 1rem 0;
}

.community__container__right__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.5rem;
}

.community__container__right__input-topic {
  font-size: 1.5rem;
  width: 60rem;
}

.community__container__right__input-message {
  font-size: 1.5rem;
  width: 60rem;
  height: 25rem;
}

.community__container__right__submit {
  align-self: flex-end;
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.community__container__right__submit:hover {
  background-color: #45a049;
}
