:root {
  --numDays: 5;
  --numHours: 10;
  --timeHeight: 60px;
  --calBgColor: #fff1f8;
  --eventBorderColor: #f2d3d8;
  --eventColor1: #ffd6d1;
  --eventColor2: #fafaa3;
  --eventColor3: #e2f8ff;
  --eventColor4: #d1ffe6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  flex: 1;
}

#content-wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  text-align: center;
  margin-top: 3rem;
}

#navbar {
  background-color: #333;
  overflow: hidden;
}

#navbar ul {
  list-style-type: none;
}

#navbar ul li {
  display: inline;
}

#navbar ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 0.8rem 1rem;
  text-decoration: none;
}

#navbar ul li a:hover {
  background-color: #ddd;
  color: black;
}

footer {
  background-color: #333;
  color: white;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  height: 2rem;
}

.home-container {
  display: flex;
  margin: 5rem;
}

.flex-container-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-container {
  flex: 1;
  flex-basis: 20%;
  gap: 1rem;
  padding: 4rem;
  font-size: 1.25rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-right: solid gray 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signin-container {
  flex: 1;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signin-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.signin-form {
  display: flex;
  flex-direction: column;
}

.signin-form label {
  margin-bottom: 5px;
}

.signin-form input[type="text"],
.signin-form input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.signin-form button {
  margin-top: 1rem;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signin-form button:hover {
  background-color: #45a049;
}

.signup-link {
  margin-top: 10px;
  text-align: center;
}

.signup-link a {
  color: blue;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.calendar-container__title {
  align-self: flex-start;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.calendar {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;
}

.calendar__month {
  margin-right: auto;
}

.calendar__timeline {
  display: grid;
  grid-template-rows: repeat(var(--numHours), var(--timeHeight));
}

.calendar__days {
  display: grid;
  grid-column: 2;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.calendar__events {
  display: grid;
  grid-template-rows: repeat(var(--numHours), var(--timeHeight));
  border-radius: 5px;
  background: var(--calBgColor);
}

.start-6 {
  grid-row-start: 1;
}

.start-8 {
  grid-row-start: 2;
}

.start-10 {
  grid-row-start: 3;
}

.start-12 {
  grid-row-start: 4;
}

.start-14 {
  grid-row-start: 5;
}

.start-16 {
  grid-row-start: 6;
}

.start-18 {
  grid-row-start: 7;
}

.start-20 {
  grid-row-start: 8;
}

.start-22 {
  grid-row-start: 9;
}

.start-24 {
  grid-row-start: 10;
}

.end-6 {
  grid-row-end: 1;
}

.end-8 {
  grid-row-end: 2;
}

.end-10 {
  grid-row-end: 3;
}

.end-12 {
  grid-row-end: 4;
}

.end-14 {
  grid-row-end: 5;
}

.end-16 {
  grid-row-end: 6;
}

.end-18 {
  grid-row-end: 7;
}

.end-20 {
  grid-row-end: 8;
}

.end-22 {
  grid-row-end: 9;
}

.end-24 {
  grid-row-end: 10;
}

.calendar__event__title {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.calendar__event {
  border: 1px solid var(--eventBorderColor);
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0 0.5rem;
  background: white;
}

.space,
.calendar__date {
  height: 60px;
}

.event-color-1 {
  background: var(--eventColor1);
}

.event-color-2 {
  background: var(--eventColor2);
}

.event-color-3 {
  background: var(--eventColor3);
}

.event-color-4 {
  background: var(--eventColor4);
}

.calendar__date {
  display: flex;
  gap: 1em;
}

.calendar__date-num {
  font-size: 3rem;
  font-weight: 600;
  display: inline;
}

.calendar__date-day {
  display: inline;
  font-size: 3rem;
}

.community {
  margin-bottom: 1rem;
}

.community__go-back-button {
  align-self: flex-start;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0.5rem 18rem;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition:
    box-shadow 0.2s,
    -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.community__go-back-button:hover {
  box-shadow:
    #121212 0 0 0 3px,
    transparent 0 0 0 0;
}

.community__go-back-button__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.community__go-back-button__container__icon {
  position: relative;
  height: 0.8em;
  margin-right: 10px;
  top: -2px;
}

.community__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.staff-photo {
  height: 20rem;
}

.community__container__left {
  flex: 1;
  flex-basis: 20%;
  gap: 1rem;
  padding: 2rem;
  font-size: 1.25rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-right: solid gray 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 42rem;
}

.community__container__right {
  flex: 1;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 42rem;
}

.community__container__right__heading {
  margin: 1rem 0;
}

.community__container__right__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.5rem;
}

.community__container__right__input-topic {
  font-size: 1.5rem;
  width: 60rem;
}

.community__container__right__input-message {
  font-size: 1.5rem;
  width: 60rem;
  height: 25rem;
}

.community__container__right__submit {
  align-self: flex-end;
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.community__container__right__submit:hover {
  background-color: #45a049;
}

/* home page styles */


.main-page-content {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

#discussions,
#voting {
  margin: 0 auto;
}

.discussion-item,
.voting-item {
  border: 0.2em solid #ccc;
  padding: 1em;
  margin: 1em;
  background-color: #f9f9f9;
  margin: 2em;
}

.discussion-item p {
  padding: 1em;
}

.voting-item p {
  padding: 0.5em;
}

.main-page-content button {
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* home page styles end */

/* about styles */

.history-content {
  width: 70%;
  margin: 0 auto;
  text-align: left;
}

.history-paragraph {
  text-align: center;
  margin-top: 2em;
}

#photo-gallery {
  margin: 4em;
}

.gallery-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.gallery-slider img {
  max-height: 40em;
  margin: 0 auto;
  padding: 4em;
}

.slick-prev,
.slick-next {
  background-color: #474646;
  color: #ffffff;
  padding: 0.5em;
  border-radius: 1em;
  cursor: pointer;
}

/* about styles end */

/* Career Page Styles */

.job-opportunities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 2em 5em 2em;
}

.job {
  width: calc(33.33% - 4em);
  margin-right: 4em;
  background-color: #ebebeb;
  padding: 4em;
}

.job:last-child {
  margin-right: 0;
}

.job p {
  padding: 1em;

  margin-top: 1em;
}

.job a {
  display: inline-block;
  padding: 1em 2em;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  margin-top: 1em;
}

.job a:hover {
  background-color: #0056b3;
}

.entrepreneurs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
}

.entrepreneur {
  width: calc(20% - 4em);
  margin-right: 4em;
  background-color: #f9f9f9;
  padding: 3em 1em 1em 1em;
  margin-bottom: 5em;
}

.entrepreneur p {
  padding: 1em;
}

.entrepreneur img {
  max-width: 10em;
  margin-top: 1em;
}

.entrepreneur:last-child {
  margin-right: 0;
}
